<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Name}} - Concert Info</title>
    <link rel="stylesheet" href="/static/styles/index.css" />
    <link rel="stylesheet" href="/static/styles/artist.css" />
  </head>
  <body>
    <header>
      <h1>Groupie Tracker</h1>
      <div class="theme dark">theme</div>
    </header>
    <div class="artist">
      <h1 class="name">{{.Name}}</h1>
      <div class="info">
        <div class="image">
          <img src="{{.Image}}" alt="{{.Name}}" />
          <div class="section">
            <p>Year Formed: {{.CreationDate}}</p>
            <p>First Album: {{.FirstAlbum}}</p>
          </div>
        </div>
        <div class="details">
          <div class="section">
            <div class="title">Members</div>
            {{range $index, $member := .Members}}{{if $index}} {{end}}
            <p>{{$member }}</p>
            {{end}}
          </div>
          <div class="section">
            <div class="title">Concert Relations</div>
            <div class="locations">
              {{range $location, $dates := .DatesLocations}}
              <div class="location">
                <div class="name">{{$location}}:</div>
                <div class="dates">
                  {{range $dates}}
                  <div class="date">{{.}}</div>
                  {{end}}
                </div>
              </div>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
