<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.name}}</title>
    <link rel="stylesheet" href="/static/styles/index.css" />
    <link rel="stylesheet" href="/static/styles/artist.css" />
  </head>
  <header>
    <h1>Groupie Tracker</h1>
    <div class="themeWrapper">
      <svg
        class="dark"
        xmlns="http://www.w3.org/2000/svg"
        height="35px"
        viewBox="0 -960 960 960"
        width="35px"
        fill="var(--text)"
      >
        <path
          d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z"
        />
      </svg>
      <input type="checkbox" class="theme" />
    </div>
  </header>
  <body>
    <div class="artist">
      <div class="banner dim-bg">
        <img alt="" src="{{.banner}}" />
      </div>
      <h2 class="name">{{.name}}</h2>
      <div class="info">
        <div class="image">
          <img src="{{.image}}" alt="{{.name}}" />
          <div class="section">
            <p>Year Formed: {{.creationDate}}</p>
            <p>First Album: {{.firstAlbum}}</p>
          </div>
        </div>
        <div class="details">
          <div class="section dim-bg">
            <div class="title">Members</div>
            {{range $index, $member := .members}}{{if $index}} {{end}}
            <p>{{$member }}</p>
            {{end}}
          </div>
          <div class="section dim-bg">
            <div class="title">Concerts</div>
            <div class="locations">
              {{range $location, $dates := .datesLocations}}
              <div class="location">
                <div class="name">{{$location}}</div>
                <div class="dates">
                  {{range $dates}}
                  <div class="date">{{.}}</div>
                  {{end}}
                </div>
              </div>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
