<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker - Home</title>
    <link rel="stylesheet" href="/static/styles/index.css" />
  </head>
  <body>
    {{template "header.html"}}
    <div class="container">
      {{range .}}
      <div data-id="{{.id}}" class="artist-card">
        <a href="/artist?id={{.id}}">
          <div class="image">
            <div class="creationDate">{{.creationDate}}</div>
            <img src="{{.image}}" alt="{{.name}}" />
          </div>
          <div class="nameWraper">
            <p class="placeholder">{{.name}}</p>
            <p class="name left">{{.name}}</p>
            <p class="name right">{{.name}}</p>
          </div>
        </a>
      </div>
      {{end}}
    </div>
    <script src="/static/scripts/index.js"></script>
  </body>
</html>
