<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} - Concert Info</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>{{.Name}}</h1>
        <img src="{{.Image}}" alt="{{.Name}}" class="artist-image">
        
        <div class="info">
            <!-- Members -->
            <p><strong>Members:</strong> 
                {{range $index, $member := .Members}}
                    {{if $index}}, {{end}}{{ $member }}
                {{end}}
            </p>
        
            <!-- Year Formed and First Album -->
            <p><strong>Year Formed:</strong> {{.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
        
            <!-- Concert Dates -->
            <h2>Concert Dates</h2>
            <ul>
                {{range .Dates}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        
            <!-- Concert Locations -->
            <h2>Concert Locations</h2>
            <ul>
                {{range $location, $dates := .DatesLocations}}
                    <li><strong>{{$location}}:</strong>
                        <ul>
                            {{range $dates}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
            </ul>
        </div>
        
    </div>
</body>
</html>
