.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.artist .name {
    position: relative;
}
.artist .overview {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.artist .overview img {
    max-width: clamp(7rem, 30vw, 20rem);
    width: 100%;
    border-radius: 10px;
}

.artist .overview .section {
    width: 100%;
    white-space: nowrap;
}

.info>.section {
    min-width: 30vw;
    flex: 1;
    white-space: nowrap;
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
}

@media (orientation: portrait) {
    .info >.section {
        min-width: 70%;
    }
}

.artist .section .title {
    text-align: start;
    color: var(--primary);
    margin-bottom: 10px;
    font-size: 20px;
}

.artist .banner img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.artist .banner {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;

}

.locations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.location {
    display: flex;
    gap: 20px;
}

.location .name {
    border-bottom: var(--accent) 1px solid;
    font-style: italic;
    height: fit-content;
    text-wrap: wrap;
    min-width: 40%;
    max-width: 40%;
}

.location .dates {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.date {
    flex: 1;
}

.date::after {
    content: ',';
}

.date:last-child::after {
    content: '';
}
.info {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}

.artist>.name,
.artist .overview p {
    text-shadow: 1px 1px 2px var(--background),
        1px -1px 2px var(--background),
        -1px 1px 2px var(--background),
        -1px -1px 2px var(--background);
    padding: 5px;
    border-radius: 5px;
}