.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.artist .name {
    position: relative;
}

.artist .overview {
    max-width: 30vw;
}

.artist .overview img {
    width: 100%;
    border-radius: 10px;
}

.info>.section p {
    white-space: wrap;
}

.info>.section {
    min-width: 25vw;
    flex: 1;
    white-space: nowrap;
    border: 1px solid var(--primary);
    border-radius: 10px;
    padding: 10px;
}

.artist .section .title {
    text-align: start;
    color: var(--primary);
    margin-bottom: 10px;
    font-size: 20px;
}

.artist .banner img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.artist .banner {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;

}

.locations {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.location .name {
    width: fit-content;
    max-width: calc(100% - 10px);
    border-bottom: var(--accent) 1px solid;
    font-style: italic;
}

.location .dates {
    transition: all 0.5s linear;
    display: flex;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    flex-wrap: wrap;
    gap: 10px;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.location .dates .date {
    width: 45%;
}

.info {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
}


.location:has(.name:hover) .dates {
    opacity: 1;
    height: auto;
    overflow: visible;
}

.artist>.name,
.artist .overview p {
    text-shadow: 1px 1px 2px var(--background),
        1px -1px 2px var(--background),
        -1px 1px 2px var(--background),
        -1px -1px 2px var(--background);
    padding: 5px;
    border-radius: 5px;
}