@import url('https://fonts.googleapis.com/css?family=Exo:700|Exo:400');

body:has(.theme:checked) {
    --text: hsl(248, 60%, 5%);
    --background: hsl(248, 60%, 95%);
    --primary: hsl(249, 59%, 28%);
    --secondary: hsl(7, 69%, 31%);
    --accent: hsl(109, 59%, 43%);
}

body {
    --text: hsl(248, 57%, 95%);
    --background: hsl(249, 57%, 5%);
    --primary: hsl(249, 59%, 72%);
    --secondary: hsl(228, 64%, 32%);
    --accent: hsl(109, 59%, 57%);
}


body {
    font-family: 'Exo';
    font-weight: bold;
    background-color: var(--background);
    color: var(--text);
    padding: 16px;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Title Styling */
h1 {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 90vw;
    padding: 2rem 1rem;
    border-radius: 8px;
}


.artist-card {
    max-width: 23%;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s;
}

.artist-card:hover {
    transform: scale(1.05);
}


body:not(.scrolling) .container:has(.artist-card:hover) .artist-card:not(:hover) {
    transition: filter 2s 0.3s, opacity 2s 0.3s;
    opacity: 80%;
    filter: blur(2px) brightness(80%);
}

.artist-card:hover img {
    box-shadow: 0 20px 80px -10px var(--primary);
}


/* .artist-card:hover img,
.artist-card:hover+.artist-card img,
.artist-card:has(+ .artist-card:hover) img {
    filter: brightness(100%);
} */

.artist-card:hover .nameWraper {
    box-shadow: 0 0 10px var(--primary);
    border: 1px solid var(--primary);
}



.artist-card img {
    /* filter: brightness(80%); */
    width: 100%;
    border-radius: 10px;
}


.artist-card[data-id="3"] img {
    border-radius: 100%;
}

.nameWraper {
    color: var(--text);
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0);
}

.nameWraper .placeholder {
    opacity: 0;
}

.nameWraper p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.name {
    position: absolute;
    top: 0;
}

.nameWraper:hover .name {
    overflow: visible;
}

.name.left {
    transition: right 3s, opacity 5s;
    right: 0%;
}

.name.right {
    transition: left 2s, opacity 2s;
    left: 100%;
}

.nameWraper:hover .name.left {
    opacity: 0;
    right: 100%;
}

.nameWraper:hover .name.right {
    transition: left 2s 2s, opacity 2s;
    left: 0;
}

.artist-card .image {
    position: relative;
}

.creationDate {
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0;
    bottom: 10px;
    right: 5px;
    position: absolute;
    color: var(--background);
    background-color: var(--text);
}

.artist-card:hover .creationDate {
    opacity: 1;
}

.themeWrapper .theme {
    opacity: 0;
}

.themeWrapper {
    position: relative;
}

.themeWrapper * {
    width: 100%;
}

.themeWrapper .theme {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}