/* Reset Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Body Styles */
body {
    font-family: 'Good Times', sans-serif;
    /* Synthwave font */
    background-color: #1b1b2f;
    /* Dark background */
    color: #f8f8ff;
    padding: 16px;
    height: 100vh;
}

/* Main Container Styling */
.container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 2rem;
    background-color: #161623;
    /* Deep purple */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(1, 7, 94, 0.5);
    /* Neon glow */
}

/* Title Styling */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00aeff;
    /* Neon pink */
    text-shadow: 0 0 8px #32008f9a, 0 0 16px #01177a;
    /* Glowing effect */
}

/* Artist Grid Layout */
.artist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

/* Artist Card Styling */
.artist-card {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    padding: 10px;
    background-color: #24243e;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(1, 55, 155, 0.3);
    /* Neon cyan */
    transition: transform 0.3s, box-shadow 0.3s;

}

.nameWraper {
    overflow: hidden;
    position: relative;
}

.nameWraper .placeholder {
    opacity: 0;
}

.nameWraper p {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.name {
    position: absolute;
    top: 0;
}

.artist-card:hover .name {
    overflow: visible;
}

.name.left {
    transition: right 3s, opacity 5s;
    right: 0%;
}

.name.right {
    transition: left 2s, opacity 2s;
    left: 100%;
}

.artist-card:hover .name.left {
    opacity: 0;
    right: 100%;
}

.artist-card:hover .name.right {
    transition: left 2s 2s, opacity 2s;
    left: 0;
}

.artist-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    /* Enhanced neon on hover */
}



/* Artist Icon Styling */
.artist-icon {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(1, 162, 184);
}


/* Link Styling */
a {
    text-decoration: none;
    color: rgb(1, 162, 184);
    /* Neon cyan */
}

a:hover {
    text-shadow: 0 0 10px #0084ff;
}